// Big button
.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    padding: 2.4rem;
    margin-bottom: $m-size;
}
.big-button:disabled {
    opacity: .5;
}

.button-group {
    display: flex;
    justify-content: space-around;
}

.button {
    display: inline-block;
    background: $blue;
    color: white;
    border: none;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888888;
}

.button--login {
    background: darken($blue, 20%);
    border-radius: 49%;
    font-size: $font-size-xtra;
    line-height: .8;
}
.button--login > * {
    pointer-events: none;
}

@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $xl-size;
    }
}