.header {
    background: darken($dark-blue, 7%);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
}

.header__title {
    color: white;
    text-decoration: none;

    h1 {
        margin: 0;
    }
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
}